/****************************************\
    Pour la gestion des styles globaux.
\****************************************/
@for $var from 1 to 50 {
    .t-#{$var} {
        font-size: $var + px !important;
    }
}
.text-primary {
    color: $primary_color;
}
.text-primary_50 {
    color: $primary_color_50;
}
.text-danger {
    color: $danger_color;
}
.text-danger_50 {
    color: $danger_color_50;
}
.text-success {
    color: $success_color;
}
.text-success_50 {
    color: $success_color_50;
}
.text-warning {
    color: $warning_color;
}
.text-warning_50 {
    color: $warning_color_50;
}
.text-placeholder {
    color: $placeholder_color;
}
.text-title {
    color: $title_color;
}
.text-default_dark {
    color: $default_text_color;
}
.text-default {
    color: $default_text_color;
}
.text-white {
    color: $white_color;
}
.text-white_50 {
    color: $white_color_50;
}
.h-100 {
    height: 100%;
}
.w-100 {
    width: 100%;
}

body {
    background: $bg_container;
}
a {
    text-decoration: none;
    color: $primary_color;
}

.cursor-pointer {
    cursor: pointer;
}

.main-container {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: $bg_container;
}

/**
DRAWER CONTENT
@author Ronald Tchuekou
*/

.drawer_content {
    position: relative;
    height: 100%;
    overflow: hidden;
    .drawer {
        transition: transform 0.4s;
        transform: translate3d(0, 0, 0);
        height: 100%;
        overflow: hidden;

        &::after {
            content: '';
            clear: both;
            display: table;
        }

        .drawer__item {
            float: left;
            height: 100%;
        }
    }
}

.login-container {
    padding: 20px;
    max-width: 720px;
    background: $bg_color;
    box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.13);
    border-radius: 10px;
    overflow: hidden;
    .login-content,
    .reset-pass-content {
        display: flex;
        flex-direction: row;
    }
    .img {
        height: 300px;
        width: 340px;
        min-height: 300px;
        min-width: 340px;
        text-align: center;
        transition: 0.3s;
        img {
            height: 100%;
            width: 100%;
        }
    }
    // @media only screen and (max-width: $medium) {
    // }
    .login-form,
    .reset-pass-form {
        width: 340px;
        padding: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .reset-pass__wrapper {
        display: flex;
        flex-direction: column;
    }
}

.copyright {
    font-size: 13px;
    text-align: center;
}

.loader_icon {
    width: 50px;
    height: 50px;
    animation: rotate 3s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 740px) {
    .login-container {
        width: 90%;
        flex-direction: column;
        .img {
            display: none;
        }
        .login-form,
        .reset-pass-form {
            width: 100%;
        }
    }
}
